<p><a href="#"><span class="icon icon-download" aria-hidden="true"></span> Rapport d'activité <span class="blank">Télécharger</span>
</a></p>

<p><a href="#">Un lien externe <span class="blank">- Nouvelle fenêtre</span><span class="icon icon-external" aria-hidden="true"></span>
</a></p>
