<p>La police de caractères (xxx) est la fonte principale du site, les titres utilisent la fonte yyy.</p>

<ul class="sg-xxx">
  <li>Xxxx Regular</li>
  <li><em>Xxxx Italic</em></li>
  <li><strong>Xsss Bold</strong></li>
  <li><strong><em>Xxxx Bold Italic</em></strong></li>
</ul>

<ul class="sg-yyy">
  <li>Yyyy regular</li>
  <li><strong>Yyyy bold</strong></li>
</ul>

<p>Variables scss et font-stacks :</p>
<ul>
  <li>(à compléter)</li>
</ul>
