{# toutes les icônes svg avec leur nom d'ancre - pour le styleguide #}
<div class="sg-icon-gallery">
  <p><a href="https://pidila.gitlab.io/" target="_blank" rel="noopener noreferrer" title="lien externe - nouvelle fenêtre">lien externe {{ macro.svg('lien_externe',baseURL) }}</a></p>
  <p><a href="https://pidila.gitlab.io/" download>{{ macro.svg('lien_download',baseURL) }} lien_download (format, XXXko)</a></p>
  <p>{{ macro.svg('lien_courriel',baseURL) }} courriel</p>
</div>
