{# Le logo et ses déclinaisons / cas d'usage, etc. #}
<p><svg aria-hidden="true" focusable="false" class="svg-picto"><use xlink:href="{{ baseURL }}assets/icones/icon-sprite.svg#scampi-twig" /></svg></p>
