<h1>Titre de niveau h1 (page ou article)</h1>
<p class="article-date">Publié le 14 mars 2016</p>
<p class="article-author">Pôle internet de la DILA (PiDILA)</p>

<p class="lead">Chaque page web est identifiée par un titre, unique dans le site. C’est le titre de premier niveau du document. Il est balisé par l’élément HTML h1. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h2>Titre de niveau&nbsp;h2</h2>
<p>Le titre ci-dessus est de niveau&nbsp;2, balise <code>&lt;h2&gt;</code>. Il s’utilise après un élément <code>&lt;h1&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h3>Titre de niveau&nbsp;h3</h3>
<p>Le titre ci-dessus est de niveau&nbsp;3, balise <code>&lt;h3&gt;</code>. Il s’utilise après un élément <code>&lt;h2&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h4>Titre de niveau&nbsp;h4</h4>
<p>Le titre ci-dessus est de niveau&nbsp;4, balise <code>&lt;h4&gt;</code>. Il s’utilise après un élément <code>&lt;h3&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h5>Titre de niveau&nbsp;h5</h5>
<p>Le titre ci-dessus est de niveau&nbsp;5, balise <code>&lt;h5&gt;</code>. Il s’utilise après un élément <code>&lt;h4&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h6>Titre de niveau&nbsp;h6</h6>
<p>Le titre ci-dessus est de niveau&nbsp;6, balise <code>&lt;h6&gt;</code>. Il s’utilise après un élément <code>&lt;h5&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
