<ul>
  <li>Rouge tomate, chaud et&nbsp;dynamisant</li>
  <li>Vert sapin, naturel et&nbsp;équilibrant</li>
  <li>Bleu océan, profond et&nbsp;reposant</li>
  <li>Jaune soleil, vif et&nbsp;réjouissant</li>
</ul>

<ol>
  <li>Coupez les tomates et la mozzarella en fines tranches&nbsp;;</li>
  <li>Intercalez les tranches&nbsp;;</li>
  <li>Arrosez d'un filet d’huile d’olive&nbsp;;</li>
  <li>Parsemez de basilic fraîchement haché.</li>
</ol>

<dl>
  <dt>Internet</dt>
  <dd>Réseau informatique international qui connecte les ordinateurs entre eux, tout comme le réseau routier relie les villes entre elles. Ce réseau propose trois types de services fondamentaux&nbsp;: le courriel, le Web et l’échange de fichiers.</dd>
  <dt>Web</dt>
  <dd>Le <i lang="en">World Wide Web</i> est le système hypertexte permettant de visiter des pages sur le réseau Internet.</dd>
</dl>

<ul>
  <li>Rouge</li>
  <li>Orange
    <ul>
      <li>Dans la nature
        <ul>
          <li>Courges
            <ul>
              <li>Citrouille</li>
              <li>Potiron</li>
            </ul>
          </li>
          <li>Carotte</li>
          <li>Abricot</li>
        </ul>
      </li>
      <li>Objets frabriqués
        <ul>
          <li>Mimolette</li>
          <li>Feu clignotant</li>
          <li>Robe des moines boudhistes</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Jaune</li>
  <li>Vert</li>
  <li>Bleu</li>
  <li>Indigo</li>
  <li>Violet</li>
</ul>

<ol>
  <li>Premier item</li>
  <li>Deuxième item</li>
  <li>Troisième item</li>
  <li>Quatrième item</li>
  <li>Cinquième item
    <ol>
      <li>Premier</li>
      <li>Deuxième
        <ol>
          <li>Premier</li>
          <li>Deuxième
            <ol>
              <li>Premier</li>
              <li>Deuxième</li>
              <li>Troisième</li>
            </ol>
          </li>
          <li>Troisième</li>
        </ol>
      </li>
      <li>Troisième</li>
    </ol>
  </li>
  <li>Sixième item</li>
  <li>Septième item</li>
</ol>

<ul>
  <li>le niveau 1 est une ul</li>
  <li>les éléments d’une liste dans une phrase commencent par une minuscule et se terminent par une virgule, sauf le dernier élément qui, s’il termine la phrase, prend un point.
    <ol>
      <li>Le niveau 2 est une ol</li>
      <li>Avec du texte long, pouvant s’écouler sur plusieurs lignes. Les éléments d’une liste formée de plusieurs phrases se comportent comme des alinéas (majuscule en début, point à la ﬁn).
        <ul>
          <li>Troisième niveau (ul)
            <ul>
              <li>Chat
                <ol>
                  <li>Quatrième niveau (ol)</li>
                  <li>Kiki la Doucette</li>
                </ol>
              </li>
              <li>Chien</li>
              <li>Perruche</li>
            </ul>
          </li>
          <li>Troisième niveau</li>
          <li>Troisième niveau</li>
        </ul>
      </li>
      <li>deuxième item de niveau 2</li>
    </ol>
  </li>
  <li>dernier item de niveau 1</li>
</ul>
