<h3 class="sg-title">Image / Figure</h3>

<figure role="group">
  <p class="img-src"><img class="img-desc" src="{{ baseURL }}assets/ipsum/ipsum.jpg" alt="Le Bouche à Oreilles, Metz, juin 2012 - Voir la description détaillée en-dessous de la légende"></p>
  <figcaption>
    <span class="sr-only">Illustration 1 Le Bouche à Oreille, Metz, juin 2012</span>
    <span class="img-credit">Crédit : Anna Fedorovna</span>
    <span class="img-legende">Salon de thé`"Le Bouche à Oreille" à Metz - juin 2012"</span>
  </figcaption>
</figure>

<div class="description-longue">
  <p class="js-expandmore-title">Description longue :</p>
  <div id="img-1" class="js-expandmore-panel">
    <p>Le salon de thé est décoré dans le style rétro des années 30. Des casseroles et des brocs sont pendus au plafond et du linge est étendu sur une ficelle.</p>
  </div>
</div>


<!-- medias temporels
<div class="form-group">
  <audio controls>
    <source src="../medias/seven-nation-army.mp3">
    <source src="../medias/seven-nation-army.ogg">
      Veuillez mettre votre navigateur à jour, merci!
  </audio>
</div>

<div class="form-group">
<p>Vidéo hébergée - source interne</p>
<video  class="width_full" controls poster="../medias/dila.png" width="500" height="300">
<source src="../medias/video.mp4">
<source src="../medias/video.ogv">
<source src="../medias/video.webm">
  Veuillez mettre votre navigateur à jour, merci!
<p>Le Journal officiel et vous : Nul n’est censé ignorer la loi</p>
</video>
</div>

<div class="form-group">
<p>Vidéo chargée - source externe</p>
<iframe class="width_full" frameborder="0" width="500" height="300" src="//www.dailymotion.com/embed/video/xxbg89" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/xxbg89_le-journal-officiel-et-vous-nul-n-est-cense-ignorer-la-loi_news" target="_blank">Le Journal officiel et vous : Nul n’est censé ignorer la loi</a> <i>par <a href="http://www.dailymotion.com/DILA" target="_blank">DILA</a></iframe>
</div>

-->
