<h3 class="sg-title">Tableau simple</h3>
<table class="table">
 <caption>Palette Pidila</caption>
 <tr class="thead">
  <th scope="col">Nom variable</th>
  <th scope="col">Valeur hexa</th>
  <th scope="col">Usage</th>
 </tr>
 <tr>
  <td>$body-color</td>
  <td>#363740</td>
  <td>Texte courant</td>
 </tr>
 <tr>
  <td>$primary-color</td>
  <td>#2b2e4a</td>
  <td>Fond boutons d’action principale</td>
 </tr>
 <tr>
  <td>$secondary-color</td>
  <td>#da3b39</td>
  <td>Titres h1, h2, h3</td>
 </tr>
</table>

<h3 class="sg-title">Effet au survol</h3>
<table class="table table-hover">
  <caption>Liste des cinq communes de France les plus peuplées (2016)</caption>
  <tbody>
    <tr class="thead">
      <th scope="col"></th>
      <th scope="col">Commune</th>
      <th scope="col">Département</th>
      <th scope="col">Région</th>
      <th scope="col">Habitant·e·s</th>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Paris</td>
      <td>Paris</td>
      <td>Île-de-France</td>
      <td>2 190 327</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Marseille</td>
      <td>Bouches-du-Rhône</td>
      <td>Provence-Alpes-Côte-d'Azur</td>
      <td>862 211</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lyon</td>
      <td>Rhône</td>
      <td>Auvergne-Rhône-Alpes</td>
      <td>515 695</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Toulouse</td>
      <td>Haute-Garonne</td>
      <td>Occitanie</td>
      <td>475 438</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Nice</td>
      <td>Alpes-Maritimes</td>
      <td>Provence-Alpes-Côte-d'Azur</td>
      <td>342 637</td>
    </tr>
  </tbody>
</table>

<h3 class="sg-title">Fonds alternés</h3>
<table class="table table-striped">
  <caption>Résultat du baccalauréat 2029</caption>
    <tr class="thead">
      <th scope="col">Nom élève</th>
      <th scope="col">Prénom élève</th>
      <th scope="col">Lycée</th>
      <th scope="col">Note</th>
      <th scope="col">Admission</th>
    </tr>
    <tr>
      <td>Abassy</td>
      <td>Bakaye</td>
      <td>Jean Mermoz</td>
      <td>12.68</td>
      <td>Admis</td>
    </tr>
    <tr>
      <td>Agnenou</td>
      <td>Cyrille</td>
      <td>Jules Ferry</td>
      <td>9.92</td>
      <td>Non admis</td>
    </tr>
    <tr>
      <td>Antonin</td>
      <td>Kévin</td>
      <td>Pablo Néruda</td>
      <td>4.26</td>
      <td>Non admis</td>
    </tr>
    <tr>
      <td>Boudiou</td>
      <td>Mathilde</td>
      <td>Claude Monet</td>
      <td>15.32</td>
      <td>Admise</td>
    </tr>
</table>
