<div class="alert alert-success" role="alert">
  <p class="alert-content"><strong>Bravo ! </strong>Votre compte a bien été créé.</p>
</div>

<div class="alert alert-info">
  <p class="alert-content"><strong>Votre messagerie : </strong>Vous avez 123 nouveaux messages privés. <a href="#">Accédez à votre boîte de messages</a>.</p>
</div>

<div class="alert alert-warning" role="alert">
  <p class="alert-content"><strong>Attention ! </strong> Votre porte-documents atteindra bientôt la limite autorisée.</p>
</div>

<div class="alert alert-danger" role="alert">
  <div class="alert-content">
    <p><strong>Erreur :-(</strong></p>
    <p>Le formulaire est incomplet, il contient 2 erreur(s) : </p>
    <ul>
      <li>L’adresse électronique est incorrecte.</li>
      <li>Le mot de passe est incorrect.</li>
    </ul>
  </div>
</div>
