<h3 class="sg-title">Buttons-block</h3>
<h4>class="btn btn-block"</h4>
<button type="button" class="btn btn-block">Bouton toute largeur</button>

<h4>Class btn btn-block appliquées à un input type="submit" :</h4>
<input type="submit" class="btn btn-block" value="Valider" />

<p>Les classes peuvent être combinées entre elles. Exemples :</p>

<h4>class="btn btn-block btn-primary"</h4>
<button type="button" class="btn btn-block btn-primary">Bouton primaire toute largeur</button></p>

<h4>class="btn btn-block btn-lg"</h4>
<button type="button" class="btn btn-block btn-lg">Gros bouton toute largeur</button>
