<h3 class="sg-title">Boutons, module de base</h3>
<p><strong>La classe `btn` est à ajouter à tous les boutons.</strong></p>

<!-- class de ce titre uniquement utilisé par le styleguide et les démos -->
<h4 class="sg-title">Bouton simple (uniquement la class btn)</h4>
<p><button type="button" class="btn" title="Envoyer">Envoyer</button></p>

<!-- class de ce titre uniquement utilisé par le styleguide et les démos -->
<h4 class="sg-title">Bouton primaire (class btn-primary)</h4>
<p><button type="submit" class="btn btn-primary" title="Valider">Valider</button></p>

<!-- class de ce titre uniquement utilisé par le styleguide et les démos -->
<h4 class="sg-title">Bouton secondaire (class btn-secondary)</h4>
<p><button type="reset" class="btn btn-secondary" title="Annuler">Annuler</button></p>

<!-- class de ce titre uniquement utilisé par le styleguide et les démos -->
<h4 class="sg-title">Boutons désactivés (attribut disabled)</h4>
<button type="button" class="btn" disabled>Bouton simple</button>
<button type="button" class="btn btn-primary" disabled>Bouton primaire</button>
<button type="button" class="btn btn-secondary" disabled>Bouton secondaire</button>
