<h3 class="sg-title">Variantes avec classes prédéfinies</h3>
<p>
  <button type="button" class="btn btn-success">Succès</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Attention</button>
  <button type="button" class="btn btn-info">Information</button>
</p>

<h3>Les mêmes en "outline"</h3>
<p>
  <button type="button" class="btn btn-outline-primary">Primaire</button>
  <button type="button" class="btn btn-outline-secondary">Secondaire</button>
  <button type="button" class="btn btn-outline-success">Succès</button>
  <button type="button" class="btn btn-outline-danger">Danger</button>
  <button type="button" class="btn btn-outline-warning">Attention</button>
  <button type="button" class="btn btn-outline-info">Information</button>
</p>
