<h3 class="sg-title">Variantes de tailles de boutons</h3>

<p>
  <button type="button" class="btn btn-lg">Gros bouton</button>
  <button type="button" class="btn btn-sm">Petit button</button>
</p>
<p>Combinaison de classes de boutons :</p>
<p>
  <button type="button" class="btn btn-primary btn-sm">Petit bouton primaire</button>
  <button type="button" class="btn btn-secondary btn-lg">Gros bouton secondaire</button>
</p>
