<!-- class de ce titre uniquement utilisé par le styleguide et les démos -->
<h3 class="sg-title">Bouton avec l'aspect d'un lien (class btn-link)</h3>
<p><button type="button" class="btn btn-link">Bouton déguisé en lien</button></p>
<p><a href="#">Lien classique</a></p>
