<!-- class de ce titre uniquement utilisé par le styleguide et les démos -->
<h3 class="sg-title">Barre de boutons groupés (conteneur class btn-group)</h3>
<p class="btn-group" role="group" aria-label="Titre du groupe de boutons">
  <button type="button" class="btn btn-secondary">Gauche</button>
  <button type="button" class="btn btn-secondary">Bouton</button>
  <button type="button" class="btn btn-secondary">Bouton</button>
  <button type="button" class="btn btn-secondary">Droit</button>
</p>
