<form>
  <p>Les champs marqués d’un <span class="symbol-required">* </span>sont obligatoires.</p>

  <div class="form-check">
    <label for="form-check-input" class="form-check-label">
      <input type="checkbox" class="form-check-input" id="form-check-input" required>
      <span class="symbol-required">* </span>J’accepte les <a href="#">conditions générales d’utilisation</a>
    </label>
  </div>
</form>
