<form>

  <h3>Input text</h3>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom">
  </div>

  <h3>Input email</h3>
  <div class="form-group">
    <label for="email">Adresse electronique (ex. : nom.prenom@example.org)</label>
    <input type="email" class="form-control" id="email">
  </div>

  <h3>Input file</h3>
  <div class="form-group">
    <label for="exampleFormControlFile1">Exemple d'input de type File</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

  <h3>Input range</h3>
  <div class="form-group">
    <label for="formControlRange">Exemple d’input de type Range</label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>

  <h3>Texte d'aide</h3>
  <div class="form-group">
    <label for="inputPassword5">Mot de passe</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Le mot de passe doit comporter un minimum de 8 caractères avec : au moins une lettre en majuscule, au moins une lettre en minuscule, au moins un chiffre.
    </small>
  </div>

  <h3>Lecture seule</h3>
  <p>L'attribut <code>readonly</code> ...</p>
  <div class="form-group">
    <input class="form-control" type="text" readonly value="Input text en lecture seule">
  </div>

  <h3>Checkboxes</h3>
  <fieldset class="form-group">
    <legend>Choix multiples</legend>
    <div class="form-check">
      <label for="checkbox_01" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_01">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label for="checkbox_02" class="form-check-label">
        <input class="form-check-input" type="checkbox" id=" checkbox_02">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label for="checkbox_03" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_03">
        choix 3
      </label>
    </div>
    <div class="form-check disabled">
      <label for="checkbox_04" class="form-check-label">
        <input type="checkbox" class="form-check-input" disabled id="checkbox_04">
        Option non activable
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Choix multiples (inline)</legend>
    <label for="checkbox_05" class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="checkbox_05">
      choix 1
    </label>
    <label for="checkbox_06" class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="checkbox_06">
      choix 2
    </label>
    <label for="checkbox_07" class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="checkbox_07">
      choix 3
    </label>
  </fieldset>

  <div class="form-check">
    <label for="checkbox_11" class="form-check-label">
      <input type="checkbox" class="form-check-input" required id="checkbox_11">
      J’ai bien lu <a href="#">les conditions</a>, je coche avant d’envoyer.
    </label>
  </div>

  <h3>Boutons radio</h3>
  <fieldset class="form-group">
    <legend>Choix unique</legend>
    <div class="form-check">
      <label for="radio_01" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-1" id="radio_01">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label for="radio_02" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-2" id="radio_02">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label for="radio_03" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-3" id="radio_03">
        choix 3
      </label>
    </div>
    <div class="form-check disabled">
      <label for="radio_04" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-4" disabled id="radio_04">
        Option non activable
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Choix unique (inline)</legend>
    <label for="radio_08" class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-1" id="radio_08">
      choix 1
    </label>
    <label for="radio_09" class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-2" id="radio_09">
      choix 2
    </label>
    <label for="radio_10" class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-3" id="radio_10">
      choix 3
    </label>
  </fieldset>

  <h3>Textarea</h3>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <h3>Select</h3>
  <div class="form-group">
    <label for="select">Select</label>
    <select class="form-control" id="select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="select_element_multi">Select à groupes d’options (optgroup)</label>
    <select id="select_element_multi" class="form-control">
      <option label="non défini" selected disabled>Choisir</option>
      <optgroup label="Option Group 1">
        <option value="1">Option 1.1</option>
        <option value="2">Option 1.2</option>
        <option value="3">Option 1.3</option>
        <option value="4">Option 1.4</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 2.1</option>
        <option value="2">Option 2.2</option>
        <option value="3">Option 2.3</option>
        <option value="4">Option 2.4</option>
      </optgroup>
    </select>
  </div>

  <h3>Select multiple</h3>
  <div class="form-group">
    <label for="selectMultiple">Select multiple</label>
    <select multiple class="form-control" id="selectMultiple">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>
