<form>
  <h3>Champ avec erreur</h3>
  <div class="form-group has-error">
    <p id="error-lorem" class="error-desc"> Le champ <em>Lorem ipsum</em> est obligatoire.</p>
    <label for="lorem">Lorem ipsum&nbsp;<span class="symbol-required">*</span>
    </label>
    <input type="text" id="lorem" class="form-control" required aria-required="true" aria-describedby="error-lorem">
  </div>
</form>
