<form>
  <div class="form-group">
    <label for="input_lg">Input grande taille (.form-control-lg)</label>
    <input type="text" class="form-control form-control-lg" id="input_lg" value="Input grande taille">
  </div>
  <div class="form-group">
    <label for="input_default">Input taille par défaut (.form-control)</label>
    <input type="text" class="form-control" id="input_default" value="Input taille par défaut">
  </div>
  <div class="form-group">
    <label for="input_sm">Input petite taille (.form-control-sm)</label>
    <input type="text" class="form-control form-control-sm" id="input_sm" value="Input petite taille">
  </div>

  <div class="form-group">
    <label for="select_lg">Select grande taille (.form-control-lg)</label>
    <select class="form-control form-control-lg" id="select_lg">
      <option>Select grande taille</option>
    </select>
  </div>
  <div class="form-group">
    <label for="select_default">Select taille par défaut (.form-control)</label>
    <select class="form-control" id="select">
      <option>Select taille par défaut</option>
    </select>
  </div>
  <div class="form-group">
    <label for="select_sm">Select petite taille (.form-control-sm)</label>
    <select class="form-control form-control-sm" id="select_sm">
      <option>Select petite taille</option>
    </select>
  </div>
</form>
