<form>
  <h3>Span + input</h3>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Pseudo" aria-label="Pseudo" aria-describedby="basic-addon1">
  </div>

  <h3>Input + button</h3>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Nom d'utilisateur" aria-label="Nom d'utilisateur" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="input-group-text" id="basic-addon2">@exemple.com</button>
    </div>
  </div>

  <h3>Span + input (précédés d'un label)</h3>
  <label for="basic-url">Votre site web</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">https://www.exemple.com/</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>

  <h3>Span + input + span</h3>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">€</span>
    </div>
    <input type="text" class="form-control" aria-label="Arrondi (à l'euro supérieur)">
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>

  <h3>Button + textarea</h3>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="input-group-text">Avec textarea</button>
    </div>
    <textarea class="form-control" aria-label="Avec textarea"></textarea>
  </div>
</form>
