<p>Exemple de block-link comportant une image, le lien qui prendra le focus à la tabulation et du texte.</p>
<p>Des styles ont été ajoutés à cette démo pour placer côte à côte l'image et le contenu textuel.</p>

<div class="block-link">
  <img class="img-desc" src="{{ baseURL }}assets/images/scampi.png" alt="scampi" />
    <div>
      <h3><a href="https://pidila.gitlab.io/scampi">Scampi</a></h3>
      <p>Une biliothèque légère de composants scss, html, javascript respectant la Checklist Pidila : RGAA, Charte internet de l’État, Éco-conception, Bonnes pratiques Opquast.</p>
    </div>
</div>
