<nav class="breadcrumb" role="navigation" aria-label="Vous êtes ici : ">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item"><span aria-hidden="true"></span><a href="/">Accueil</a></li>
    <li class="breadcrumb-item"><span aria-hidden="true"></span><a href="#">Rubrique</a></li>
    <li class="breadcrumb-item"><span aria-hidden="true"></span><a href="#">Sous-rubrique</a></li>
    <li class="breadcrumb-item"><span aria-hidden="true"></span><strong aria-current="page">Titre de la page</strong></li>
  </ol>
</nav>
