<!-- bouton à cacher sur les grands écrans -->
<button id="toggle-menu" class="toggle-menu"><span aria-hidden="true"></span>Menu</button>

<nav role="navigation" class="nav-main" id="nav-main" aria-label="menu principal">
  <div class="container">
    <ul class="nav-main-list">
      <li class="nav-item">
      	<span class="nav-link is-active">
      		<span class="sr-only">Page courante : </span>
      		Accueil
      	</span>
      </li>
      <li class="nav-item"><a class="nav-link" href="#visu">Identité visuelle</a></li>
      <li class="nav-item"><a class="nav-link" href="#typo">Contenus</a></li>
      <li class="nav-item"><a class="nav-link" href="#buttons">Boutons et formulaires</a></li>
      <li class="nav-item"><a class="nav-link" href="#composants">Composants du projet</a></li>
    </ul>
  </div>
 </nav>
