<button class="btn btn-primary js-modal" data-modal-content-id="exempleModal" data-modal-close-text="×" data-modal-close-title="Fermer">Hop la modale !</button>

<div class="modal-template" id="exempleModal">
  <div class="modal-header">
    <h5 id="modal-title" class="modal-title" id="exampleModalLabel">Titre de la modale</h5>
  </div>
  <div class="modal-body">
    <p>Contenu de la modale</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur ratione similique ipsa rem ab dicta quaerat voluptate rerum asperiores temporibus illum qui explicabo molestias, quas harum. Dolor, magni, labore.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary js-modal-close">Annuler</button>
    <button type="button" class="btn btn-primary">Continuer</button>
  </div>
</div>
