<form action="#" method="post">
  <h3>Select à choix unique</h3>
    <div class="form-group">
      <label for="select-option">On mange quoi aujourd'hui ?</label>
      <select class="form-control" id="select-option" data-select-a11y>
          <option>Brocolis</option>
          <option>Couscous</option>
          <option>Tartiflette</option>
          <option>Choucroute</option>
      </select>
    </div>

  <h3>Select à choix multiple</h3>
    <div class="form-group">
      <label for="select-element">Que voulez-vous faire aujourd'hui ?</label>
      <select class="form-control" id="select-element" multiple data-select-a11y data-placeholder="Chercher dans la liste">
          <option>Dormir</option>
          <option>Grimper aux arbres</option>
          <option>Tricoter</option>
          <option selected>Danser avec les licornes</option>
          <option>Rêver</option>
      </select>
    </div>

    <hr aria-hidden="true" />
    <p class="form-buttons">
      <button class="btn btn-secondary" type="reset">Réinitialiser le formulaire</button>
      <button class="btn btn-primary" type="submit">Valider</button>
    </p>
</form>
