<div id="before-content">
  <p class="sr-only no-print" id="desc_skip_content">Ici le message indiquant qu'on peut passer le contenu et en expliquant les raisons.</p>
</div>

<p class="skip-content"><a class="skip-content-link" href="#after-content" aria-describedby="desc_skip_content">Passer le bloc suivant.</a></p>

<div aria-hidden="true">
  <p><i>Ici un contenu non compatible avec l’utilisation d’un lecteur d'écran (infographie, carte...). Il est masqué aux lecteurs d'écran et peut être "passé" en utilisant les touches <kbd>tab</kbd> ou <kbd>maj</kbd> + <kbd>tab</kbd> du clavier.</i></p>
</div>

<p class="skip-content"><a href="#before-content" aria-describedby="desc_skip_content" class="skip-content-link">Passer le bloc précédent.</a></p>

<p id="after-content">Bloc de contenu sur lequel le focus est repositionné si on a utilisé le lien d'évitement avant le contenu à éviter.</p>
