<div class="skip-link">
  <div class="container" id="top">
  <ul>
    <li><a href="#main">Aller au contenu</a></li>
    <li><a href="#search">Aller à la recherche</a></li>
    <li><a href="#navigation">Aller au menu</a></li>
  </ul>
  </div>
</div>
