# Maven
target/

# File Vault (VLT) / Sync
.vlt
.vlt-sync*

# Eclipse
.project
.classpath
.settings

# IntelliJ
.idea/
*.iml*
*.iml
*.ipr

# Netbeans
**/nbactions.xml

# Brackets
.brackets.json

# VSCode
.vscode/
.history
.editorconfig

# Mac OS X
.DS_Store
*.swp

# Node related files
node_modules/
node_modules/*
node/
typings
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.stylelintcache
.eslintcache

# project related files
frontend/tmp/
frontend-globalforms/tmp/
*.bundle.js
*.bundle.js.map
*.bundle.css
*.bundle.css.map

.repository/
.serverDef/


